<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="call-to-action-bg" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="section-heading">Convert your passion into your job!</p>
                <hr class="dark">
                <div>
                    <img class="call-to-action-image" src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/Group 14.png" 
                    width="500px" height="500px">
                    </img>
                    <br></br>
                    <br></br>
                    <figcaption>
                        <p class="call-to-action-text" style="text-align: center;"> 
                            Social Media has changed the way we think about
                            jobs and passion. Now you can earn money online 
                            doing what you love. Millions of people have started
                            earning and so can you. 
                        </p> 
                    </figcaption>
                </div>
                </div>
            </div>
        </div>
        <div>
            <img src="../img/Wave_illustrations/social-media.png"  style="text-align: center; padding-bottom: -60px;" >
        </div>
    </div>
</section>
