<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<section>
    <div class="content-header">
        <p style="font-family: 'Work Sans'; font-size: 24px; font-weight: 700;">
            We are building the only course you will need to get started. Fullstop.
        </p>
        <br>
        <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/dash.png" style="text-align: center;">
    </div>
    <div>
        <p class="title-content">Creators-taught live courses</p>
        <p class="text-content">
            Learn from the pros of their field. With our ‘do along’ 
            courses, get practical learnings and deeper insights to 
            jump-start your passion journey.
        </p>
    </div>
    <br>
    <div class="image-content-left">
        <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/first.png" width="309px" height="241px" >
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <div>
        <p class="title-content"> Learn by doing and get certified</p>
        <p class="text-content">
            Convert your knowledge into skill with projects 
            designed to maximize your skill level. Get certified for 
            your achievements. 
        </p>
    </div> 
    <br>
    <div class="image-content-right">
        <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/second.png" width="340px" height="289px" >
    </div>  
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <div>
        <p class="title-content">Learn with a community</p>
        <p class="text-content">
            Be a part of a learning community who will 
            challenge, inspire and support you. Make lifelong
            friendships and have fun along the way. 
        </p>
    </div>
    <br>
    <div class="image-content-left">
        <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/Allura Socializing.png" width="290px" height="230px" >
    </div>
</section>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
