<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
    <div class="header-content">
      <br></br>
      <br></br>
      <br></br>
        <div class="header-content-inner">
            <h1 style="text-align: center;">You are one step away from becoming a </h1>
        </div>
        <br></br>
        <div class="row">
          <div class="spinny-wrapper">
            <div class="spinny-words">
              <span>Creator</span>
              <span>Influencer</span>
              <span>Solopreneur</span>
            </div>
          </div>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <div class="Wave-button-align">
            <button class="Wave-button" title="Be a Part Of Wave">Be a part of Wave</button>
          </div>
    </div>
</header>
<div class="column-img-header-left">
  <img src='https://kabirkedia.github.io/meet-site/img/Wave_illustrations/header_left.png' width= "250.11px";
  height= "205px";>
</div>
<div class="column-img-header-right">
  <img src='https://kabirkedia.github.io/meet-site/img/Wave_illustrations/header_right.png' 
  width= "120px"; height= "120px"; left= "238.67px">
</div>
<br></br>

